:root{
	--gradient:linear-gradient(
		45deg,
		#845ec2,
		#d65db1,
		#ff6f91,
		#ff9671,
		#ffc75f
	);

}
body{
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 1.125em;
	line-height: 1.3;
	color:#333;
	background: #ddd;
  background-size:400%;
	background-image: var(--gradient);
  animation: bg-animation 15s infinite alternate;
}

.main{
	position: fixed;

	text-align: center;
	width: 50%;
	height: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	background-image: #68edc6;
  	background-color:aqua;
}

#quotes-author{
	margin-left: 300px;

}

.btn-generate{
	font-size: 25px;
    margin-top: 40px;
    padding: 10px;
    width: 150px;
}

@keyframes bg-animation{
  0%{
    background-position:left;
  }
  100%{
    background-position:right;
  }
}